

/* job Header Section */
.hero {
  /* background-image: url(/images/freepik-export-20241126055721newr.png); */
  background: var(--primary-color);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  position: relative;
}

.header-section h1 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.header-section p {
  font-size: 1.2rem;
}

/* Job Listings Section */
.job-listings {
  padding: 60px 20px;
}

.job-card {
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.job-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.job-card h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.job-card p {
  font-size: 0.9rem;
  color: #777;
}

.apply-btn {
  background-color:var(--primary-color);
  color:var(--color);
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.apply-btn:hover {
  background-color: #004090;
}

/* FAQ Section */
.faq-section {
  background-color: #f8f9fa;
  padding: 60px 20px;
}

.faq-section h2 {
  text-align: center;
  margin-bottom: 40px;
}

.accordion-button {
  background-color: #fff;
  color: #0056b3;
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
  background-color: #0056b3;
  color: #fff;
}

.accordion-body {
  font-size: 0.9rem;
  color: #666;
}
.accordion-button:not(.collapsed) {
  background-color: var(--primary-color);
}
.accordion-button{
  color: var(--primary-color);
}